{% extends base %}

<!-- goes in head -->
{% block preamble %}
<link href="app/static/css/custom.min.css" rel="stylesheet">
{% endblock %}

{% block postamble %}
  <style>
    .slide {
      width: 80%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      margin: 10px 0;
    }
    .ui {
        width: 20%;
        height: 20%;
        position: absolute;
        top: 0;
        right: 0;
    }
    .description {
        width: 78%;
        height: 100%;
        position: absolute;
        top: 100%;
        left: 2%;
        margin: 10px 0;
    }
  </style>
{% endblock %}

<!-- goes in body -->
{% block contents %}
<div class="slide"> {{ embed(roots.slide_window) }} </div><div class="ui"> {{ embed(roots.ui_layout) }} </div>
<div class="description">
  
<img class="img" src="bokeh_app/static/iguana.png" width="650px" height="200px">

<p style="font-size:24px">Directions for use:</p>
<ul style="font-size:22px">
  <li>Select the slide at the top-right of the window. The slide name denotes the slide diagnosis.</li>
  <li>By default, the glands are coloured by their node explanation value - ‘hot’ glands indicate areas contributing to the slide being predicted as abnormal.</li>
  <li>Alternatively, glands can be coloured by individual features by clicking on the 'Colour glands by' box on the right.</li>
  <li>These glands can be coloured using different colour maps, by selecting the ‘colourmap’ drop-down menu on the right.</li>
  <li>By default, the gland-graph overlaid on the slide is hidden. This can be toggled on by selecting ‘graph’ at the bottom-right.</li>
  <li>As you zoom in, smaller objects in the overlay will become visible, including different types of nuclei.</li>
  <li>These objects can be toggled on and off by clicking on the appropriate names on the right and the default colours can be changed.</li>
  <li>Feature explanations for each gland can be seen by hovering over individual nodes. Here, we show the top-5 features ranked in order from 1-5.</li>
</ul>
  
<p style="font-size:20px">Note, this interface has not been optimised for smartphones or tablets.</p>
</div>
{% endblock %}